body {
    padding-top: 6%;
    text-align: center;
}
.searchbar {
    position: relative;
    margin-top: 80px;
}
#search-button {
    background-color: transparent;
}
.search-txt, .search-neighbourhood{
    line-height: 2rem;
}
.search-txt {
    width: 90%;
}
.search-neighbourhood{
    width: 100%;
}
.allrestaurants{
    border: 10px;
    border-radius: 20%;
}

.line {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 40px 0 20px; 
 } 
 
.line span { 
     background:#fff; 
     padding:0 10px; 
 }
.logininput {
    display: block;
    position: relative;
    left: 83px;
    width: 300px;
    height: 50px;
    margin-bottom: 10px;
}
.align {
    position: relative;
    right: 90px;
}
.linkbutton, .linkbutton:hover, .linkbutton:focus, .linkbutton:active {
    color: inherit;
    text-decoration: none;
}
.search-bar-nav {
    width: 75%;
}