body {
    padding-top: 6%;
    text-align: center;
}
.searchbar {
    position: relative;
    
}
.search-btn {
    position: absolute;
    right: 20px;
}
.search-txt, .search-neighbourhood{
    width: 80%;
}
.allrestaurants{
    border: 10px;
    border-radius: 20%;
}
a {
    color: white;
}
.line {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
 } 
 
.line span { 
     background:#fff; 
     padding:0 10px; 
 }